:root {
    --ld-bg-color: #333;
    --left-bg-color: rgba(223, 39, 39, 0.7);
    --left-botonld-hover-color: rgba(161, 11, 11, 0.3);
    --right-bg-color: rgba(43, 43, 43, 0.8);
    --right-botonld-hover-color: rgba(92, 92, 92, 0.3);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1800ms;
  }
  
  html, body {
    padding:0;
    margin:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }
  
  h1 {
    font-family: 'Prosto One', cursive;
    font-size: 4rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  
  .centrar {
    text-align: center;
    color: white;
    margin-top: 313px;
    margin-left: 199px;
    position: absolute;
    transform: translateX(-50%);
    white-space: nowrap;
    position: absolute;
    width: 43%;
    height: 100%;
    overflow: hidden;

  }

  .botonld {
    display: block;
    position: absolute;
    left: 50%;
    top: 40%;
    height: 2.5rem;
    padding-top: 0.3rem;
    width: 15rem;
    text-align: center;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
  }
  
  .split_ld.left .botonld:hover {
    background-color: var(--left-botonld-hover-color);
    border-color: var(--left-botonld-hover-color);
  }
  
  .split_ld.right .botonld:hover {
    background-color: var(--right-botonld-hover-color);
    border-color: var(--right-botonld-hover-color);
  }
  
  .ld {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--ld-bg-color);
  }
  
  .split_ld {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
  }

  
  
  .split_ld.left {
    left:0;
    background: url('https://image.ibb.co/m56Czw/designer.jpg') center center no-repeat;
    background-size: cover;
  }

  
  .split_ld.left:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--left-bg-color);
  }
  
  .split_ld.right {
    right:0;
    background: url('https://image.ibb.co/m3ZbRb/programmer.png') center center no-repeat;
    background-size: cover;
  }
  
  .split_ld.right:before {
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: var(--right-bg-color);
  }
  
  .split_ld.left, .split_ld.right, .split_ld.right:before, .split_ld.left:before {
    transition: var(--speed) all ease-in-out;
  }
  
  .hover-left .left {
    width: var(--hover-width);
  }
  
  .hover-left .right {
    width: var(--other-width);
  }
  
  .hover-left .right:before {
    z-index: 2;
  }
  
  
  .hover-right .right {
    width: var(--hover-width);
  }
  
  .hover-right .left {
    width: var(--other-width);
  }
  
  .hover-right .left:before {
    z-index: 2;
  }
  
  @media(max-width: 800px) {
    h1 {
      font-size: 2rem;
    }
  
    .botonld {
      width: 12rem;
    }
  }
  
  @media(max-height: 700px) {
    .botonld {
      top: 70%;
    }
  }