/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.barra-nav{
  padding: 20px;
  background-color: rgba(52, 73, 94,1.0) !important;
  
}

#navbarsExampleDefault{
      margin-right: 41px !important;
      margin-left: 50px !important;
}

.logo{
  margin-left: 67px;
}

.form-login{

}

.div-ld{
  background: radial-gradient(circle farthest-corner at 200px 0, #434752, #000);
  background-position: top left;
  position: relative;
  color: aliceblue;
}

@media (min-width: 576px) {
  .div-ld {
    padding: 4rem 2rem;
  }
}